* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "comfortaaregular", sans-serif;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideRight {
    100% {
        transform: translateX(0);
    }

}

@keyframes slideleft {
    100% {
        transform: translateX(0);
    }

}

@keyframes slideUp {
    100% {
        transform: translateY(0);
    }
}

.header
{
    margin: 0px 0px;
    width: 100%;
    height: 40px;
    background-color: #fcfbfb;
 
    
    
}



.header_list
{
    display: flex;
    font-size: 2.5rem;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 50px;
 
}

.header_item_link
{
    text-decoration: none;
   /* color: #797979;*/
    padding-left: 70px;
    margin-top: 10px;
    color: #a88290;
    font-family: 'Bellota Text', cursive;
    font-style: oblique;
}

.header_item
{
    list-style: none;
    color: #797979;
    transition: var(--trans, color .4s ease 0s);
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;


  
    
}

.header_list_line
{
    border-bottom: solid 2px rgb(190, 187, 184);
}

.heaader_name_first
{

    background-color: #fcfbfb;
    display: none;
}
.header_name
{
    font-size: 1.8rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 100%;
 
  
}

.header_name_saveofdate

{
    font-size: 60px;
  /*  color: #be8787;
    font-family: 'Baloo Paaji 2';*/
    color: #a88290;
    font-family: 'Bellota Text', cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
     width: 100%;
     height: 90px;
     padding-top: 10px;
     animation: jump 1s infinite;


}


.header_name_label
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
}
.header_name_labelname
{
    color: #a88290;
    /*color: #be8787;*/
    font-family: 'Bellota Text', cursive;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Bellota Text', cursive;
    transform: translateY(100%);
    animation: slideUp 5s forwards;

}


.header_name_label
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_name_labelimg
{
    width: 100%;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
}

.span_heart
{
    padding-left: 5px;
    padding-right: 5px;
}

.header_name_div
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.header_name_item
{
  font-size: 36px;
  color: #c9b1b1;
  font-family: "dancing_scriptregular", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

 
}


.header_name_logo
{
    color: rgb(124, 12, 12);
    margin-left: 5px;
    margin-right: 5px;
}


.header_name_location
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-size: 5rem;
    line-height: 60px;
   /* font-family: "Baloo Paaji 2", cursive;*/
    color: #a88290;
    font-family: 'Bellota Text', cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-left: 40px;
    transform: translateX(-100%);
    animation: jump 1s infinite;
   
    
}

.header_name_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.header_name_iconhim
{
   height: 70px;
   width:  70px; 
}

.header_name_locationicon
{
    height: 50px;
    width:  50px; 
    padding-left: 5px;
    padding-right: 5px;
}


.header_name_logoarrow
{
    color: #868383;
    margin-left: 5px;
    margin-right: 5px;
}


.slider_start
{

    width: 100%;
    height: 1600px;
    background-image: url(./image/z5911592513022_8ddf50954e400a4543881a8c9c1e21fc.jpg);
    background-size: cover;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 0.25);
}

.slider_infor
{
    margin-top: 50px;
}

.slider_infor_header
{
    font-family: "dancing_scriptregular", cursive;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c9b1b1;
}




.slider_invitation
{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
   
}




.slider_infor_detail1
{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
   
}

.slider_infor_detail2
{

    margin-left: 100px;
    margin-right: 100px;
    display: flex;
   
}

.slider_infor_image
{
    background-size: cover;
    width: 600px;
    height: 700px;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 0.25);
}

.slider_infor_textnoteimg
{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.slider_infor_text
{
    width: 600px;
    height: 700px;
    background-color: #fbfbfb;
    
}

.slider_infor_textnote
{
    margin-top: 170px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider_infor_note
{
    font-size: 3rem;
    font-family: "dancing_scriptregular", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #444; 
  
}

.slider_infor_textnotedetail
{
    font-size: 4rem;
    color: #d1bebe;
    line-height: 4rem;
    font-family: "dancing_scriptregular", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_infor_textnoteend
{
    font-size: 3rem;
    color: #888686;
    line-height: 5rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 500px;
    height: 500px;
    margin-top: 30px;
    margin-right: 30px;
   

}



.slider_infor_goom
{
    /*display: flex;*/
    margin-top: 40px;
    margin-left: 500px;
    display: none;
}

.slider_infor_goomicon
{
    width: 100px;
    height: 100px;
}

.slider_invitation_name
{
    font-size: 50px;
    font-family: "dancing_scriptregular", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #c9b1b1;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.slider_invitation_item
{
    font-size: 30px;
    color: #49263d;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: bold;
    margin-top: 20px;
    list-style: none;
    text-transform: uppercase;
    line-height: 2.5rem;

}

.slider_invitation_listiem
{
    float: left;
    background-size: auto;
    width: 25%;
    text-align: center;
}

.slider_invitation_image
{
    width: 300px;
    height: 400px;
    margin-top: 20px;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 0.25);
    border-radius: 10px;
}


.slider_invitation_date
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #91b4bd;
  margin-top: 20px;
}

.slider_invitation_location
{
    font-size: 1.5rem;
    color: rgb(139, 138, 138);
    line-height: 1rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

.slider_invitation_locationfirts
{
    font-size: 1.5rem;
    color: #444;
    line-height: 1rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    margin-top: 20px;
   
}

.slider_invitation_locationes
{
    font-size: 1.5rem;
    color: rgb(139, 138, 138);;
    line-height: 1rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    margin-top: 20px;
}


.slider_invitation_map
{
    font-size: 1.5rem;
    color: #444;
    line-height: 1rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    margin-top: 20px;
    border: 1px solid #c89d9c;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}

.slider_invitation_map:hover
{
    background-color: #c89d9c;
}

.slider_invitation_maplabel
{
    font-size: 1.5rem;
    color: #b8b5b5;
    line-height: 1rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    text-decoration: none;  
    margin:10px 10px;
    
}

.slider_invitation_mapicon
{
    color: red;
    margin-right: 5px;
}

.slider_invitation_schedule

{
    background: #fbfbfb;
    height: 650px;
    margin-top: 50px;
   
}


.slider_invitation_letter
{
    margin-top: 50px;
}

.slider_invitation_letterheader
{
    font-size: 4rem;
    font-family: "dancing_scriptregular", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #c9b1b1;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}


.slider_invitation_letternote
{
    font-size: 3rem;
    color: rgb(139, 138, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    margin-top: 30px;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.slider_invitation_letterimage
{
   
    margin-top: 20px;
}
.slider_invitation_letterimageone
{
    width: 25%;
    height: 600px;
    background-size: cover;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 0.25);
}

.slider_invitation_letterimagetwo
{
    width: 48%;
    height: 600px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 0.25);
    
}

.slider_invitation_lettericon
{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: none;
}


.slider_invitation_lettericonimg
{
    width: 100px;
    height: 100px;
}



.slider_invitation_nameicon
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_invitation_nameiconimg
{
    width: 100px;
    height: 100px;
}

.slider_invitation_listiemicon
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_invitation_listiemiconimg
{
    width: 100px;
    height: 100px;
}

.slider_invitation_listiemiconend
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider_invitation_listiemiconimgend
{
    width: 100px;
    height: 90px;
}


.slider_schedule_all
{
    display: flex;
   
}


.slider_schedule_imghim
{
    background-size: cover;
    width: 600px;
    height: 600px;
    margin-left: 30px;
    margin-right: 36px;
}


.slider_schedule_master
{
    margin-top: 100px;
   
}

.slider_schedule_text
{
    margin-right: 150px;
    position: relative;
    border-left: 3px solid #be8787;
    
}

.slider_schedule_textleft
{
    margin-left: 50px;
    position: relative;
    border-right: 3px solid #be8787;
}

.slider_schedule_textleft::before
{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid #be8787;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: -15px;
    background-color: #be8787;
    
    
}


.slider_schedule_text::before
{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid #be8787;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: -1px;
    background-color: #be8787;
    
    
}



.slider_schedule_textlabel
{
    font-size: 3rem;
    color: rgb(139, 138, 138);
    line-height: 5rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 600px;
    height: 200px;
    margin-top: 50px;
    margin-left: 30px;  
 
}

.slider_schedule_textlabelleft
{
    font-size: 3rem;
    color: #888686;
    line-height: 5rem;
    font-family: "comfortaaregular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 500px;
    height: 200px;
    margin-top: 50px;
    margin-left: 30px;  
    margin-right: 86px;  
   
}

.slider_schedule_mastertext
{
    font-size: 50px;
    font-family: "dancing_scriptregular", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #c9b1b1;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.slider_schedule_imghim1
{
    background-size: cover;
    width: 600px;
    height: 600px;
    margin-left: 30px;
}

.slider_schedule_masterlove
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.slider_schedule_masterloveimg
{
    width: 100px;
    height: 100px;
}

.slider_schedule_textheader
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
   
   
    
}

.slider_schedule_textheaderimg
{
    width: 300px;
    height: 300px;   
    margin-top: 30px; 
 
}

.slider_schedule_textheaderimgone
{
    width: 300px;
    height: 300px;  

}

.slider_schedule_textheadergirlboy
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 60px;
  
}

.slider_schedule_textheaderimggirl
{
    width: 200px;
    height: 200px;  
     
}

.slider_schedule_textheaderimgboy
{
    width: 200px;
    height: 200px;  

}

.slider_schedule_textheadernool
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 150px;
}

.slider_schedule_textheadertwo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

.slider_schedule_master_all
{
    background-color: #f8f7f7;
}

.slider_schedule_imghim2
{
    background-size: cover;
    width: 600px;
    height: 700px;
    margin-left: 30px;
}


.slider_album

{
    margin-top: 150px;
}

.slider_album_text
{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #c9b1b1;
    font-style: normal;
  
}


.slider_album_slide
{
   display: flex;
   margin-left: 20px;
   margin-right: 20px;

}

.slider_album_slideone
{
    background-size: cover;
    width: 20%;
    height: auto;
    margin-right: 20px;
    
}

.slider_album_slidetwo
{
    background-size: cover;
    width: 55%;
    height: auto;
    margin-right: 20px;
}

.slider_album_slidethree
{
    background-size: cover;
    width: 55%;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.slider_album_slidefour
{
    background-size: cover;
    width: 20%;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.slider_album_slidefive
{
    background-size: cover;
    width: 48%;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.slider_album_slidesix
{
    background-size: cover;
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.footer_thank
{
    font-size: 70px;
    font-family: "dancing_scriptregular", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    color: black;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}


.footer_img
{
    margin-top: 10px;
    position: relative; 
}

.footer_img_thank
{
    width: 100%;
    height: calc(100vh - 150px);
}

/*
.footer_thank
{
    position: absolute;
    top: 80%;
    left: 30%;
  color: #916d6a;
  font-size: 24px;
  font-weight: bold;
  font-size: 100px;
  

}*/

.slider_album_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.slider_album_image
{
    width: 100px;
    height: 100px;
}


.footer_img_header
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer_img_headerimg
{
    width: 126px;
    height: 59px;
    margin-top: 20px;
}

.footer_img_text
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: rgb(139, 138, 138);
    font-style: italic;
}

.foooter_img_heart  
{
    width: 40px ;
    height: 40px;
    margin-bottom: 10px;
 
}
.slider_introduce_boy
{
    display: flex;
}
.slider_introduce_boyendline
{
    margin-top: 20px;

}

.slider_introduce_boynoteend
{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: rgb(90, 90, 90);
    font-style: italic;
    line-height: 2rem;
    display: flex;
    justify-content: left;
    margin-top: 5px;
    margin-left: 60px;

}

.slider_introduce_name
{
    margin-left: 60px;
    line-height: 3rem;
}
.slider_introduce_boynotenameheader
{
    color: #754e6d75;
    font-style: unset;
    font-weight: 200;
  
}
.slider_introduce_boydetail
{
    width: 700px;
    height: 250px;
    border: 2px solid #c9b1b1;
    border-radius: 40%;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
    position: relative;
    display: inline-block;
}

.slider_introduce_boynoteheader
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: "dancing_scriptregular", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #444; 
    margin-top: 10px;
}

.slider_introduce_boynotedetal
{
    font-size: 4rem;
    color: #d1bebe;
    line-height: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_introduce_boynote
{
    font-size: 2rem;
    color: #a1a878;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider_introduce_boyimageicon
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 88%;
    
}

.slider_introduce_girl
{
display: flex;
}


.slider_introduce_girldetail
{
    width: 700px;
    height: 250px;
    border: 2px solid #c9b1b1;
    border-radius: 40%;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    margin-left: 100px;
}

.slider_introduce_girlimageicon
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 88%;
    
}

.slider_introduce_text
{
    font-size: 50px;
    font-family: "dancing_scriptregular", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #c9b1b1;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.slider_introduce_icon
{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    display: none;
}

.slider_introduce_iconimage
{ 
     width: 100px;
    height: 100px;
}

.slider_introduce_iconimg
{ 
     width: 300px;
    height: 300px;
}

.slider_introduce_botitemlist
{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    margin-top: 30px;
}

.slider_introduce_girlitemlist
{
    width: 300px;
    height: 300px;
    margin-right: 100px;
    margin-top: 30px;
    margin-left: 50px;
}

.slider_introduce_name
{
    display: flex;
}
.slider_introduce_bg
{
    background-image: url(./image/bg.png);
}
.footer
{
   background-image: url(./image/bg.png);
}

.audio
{
   display: none;
}
  
 


/*Mobile*/


@media (max-width: 740px) {

    .html
    {
        max-width: 740px;
    }
    .header
    {
        display: none;
       
    }
    .header_list
    {
        display: none;
    }

    .header_name_saveofdate
    {
        font-size: 30px;
        margin-right: 50px;
       
       
    }

    .header_name_iconhim
    {
        margin-right: 60px;
    }

    .header_name_locaion
    {
        margin-right: 40px;
    }

    .slider_start
    {
        width: 100%;
        height: 500px;
        margin-top: 0;
    }
    .slider_infor_header
    {
        margin-left: 20px;
    }
    .slider_infor_headername
    {
        font-size: 30px;
        margin-right: 20px;
    }

    .slider_infor_goom
    {
        /*display: flex;*/
        margin-left: 57px;
        display: none;
    }

    .slider_infor_detail1
    {
        margin-left: 0;
        margin-right: 0;
        width: 100%;

    }
    .slider_infor_image
    {
        width: 50%;
        height: 320px;
    }
    .slider_infor_text
    {
        width: 50%;
        height: 320px;
    }
    .slider_infor_detail1
    {
        margin-left: 0;
        margin-right: 0;
        width: 100%;

    }
    .slider_infor_textnote
    {
        margin-top: 20px;
        margin-left: 30px;
    }
    .slider_infor_textnotedetail
    {
        font-size: 1.5rem;
    }

    .slider_infor_textnoteend
    {
      font-size: 1rem;
      margin-left: 20px;
      margin-top: 10px;
      margin-right: 10px;
      width: 150px;
      line-height: 2rem;
    }
    .slider_infor_detail2
    {
        margin-left: 0;
        margin-right: 0;
        width: 100%;

    }

    .slider_schedule_mastertext
    {
        font-size: 30px;
        margin-top: 10px;
    }

    .slider_schedule_img
    {
        width: 50%;
        height: 300px;
        margin-left: 0;
        margin-right: 10px;
      
    }
    
    .slider_schedule_imghim
    {
        width: 100%;
        height: 240px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .slider_schedule_imghim2
    {
       
        margin-left: 0;
        height: 250px;
        width: 190px;
    }

    .slider_schedule_textlabel
    {
        font-size: 1rem;
        width: 160px;
        height: 100px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 2rem;
    }

    .slider_schedule_textheader
    {
        margin-left: 40px;
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .slider_schedule_textheaderimg
    {
        width: 100px;
        height: 100px;   
        margin-top: 10px; 
    }

    .slider_schedule_textheaderimgone
    {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .slider_schedule_textheadergirlboy
    {
        margin-top: 30px;
        margin-left: 20px;
    }

    .slider_schedule_textheaderimggirl
    {
        width: 70px;
        height: 70px;
    }
    .slider_schedule_textheaderimgboy
    {
        width: 70px;
        height: 70px;
    }

    .slider_schedule_textleft
    {
        margin-left: 0;
        height: 580px;
    }

    .slider_schedule_textlabelleft
    {
        font-size: 1rem;
        width: 160px;
        height: 50px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 30px;
        line-height: 2rem;
    }

    .slider_schedule_textheadernool
    {
        margin-top: 30px;
        margin-left: 60px;
    }

    .slider_schedule_imghim1
    {
        width: 190px;
        height: 320px;
        margin-left: 0;
        margin-top: 10px;

    }

    .slider_schedule_imghim1--note
    {
        width: 175px;
        height: 320px;
        margin-left: 0;
        margin-top: 10px;
    }
 
    .slider_schedule_textheadertwo
   {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
   }

   .slider_schedule_textheaderimg--note
   {
    margin-top: 300px;
   }

   .slider_schedule_textlabel--note
   {
    margin-top: 200px;
    height: 145px;
   }

   .slider_schedule_img-note
   {
    margin-left: 10px;
   }

   .heaader_name_first
   {
     display: none;
   
   }
   .header_list_line
   {
    display: none;
   }
   .header_name_location
   {
    display: none;
   }

   .header_name_icon
   {
    display: none;
   }
   .slider_introduce_text
{
    font-size: 30px;
    margin-top: 30px;
}
.slider_schedule_masterlove
{
    
    margin-bottom: 20px;
}

.slider_schedule_master
{
    margin-top: 30px;
   
}


.slider_introduce_botitemlist
{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 50px;
}
.slider_introduce_boynoteheader
{
   
    font-size: 1.5rem;


}

.slider_introduce_boynotedetal
{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0;
 
}


.slider_introduce_boynote
{
    margin-top: 5px;
    font-size: 1rem;
}


.slider_introduce_name
{
    margin-left: 20px;
    line-height: 2rem;
}

.slider_introduce_boynotename
{
    font-size: 1rem;
}

.slider_introduce_boynotenameheader
{
    font-size: 1rem;
}

.slider_introduce_boydetail
{
    width: 400px;
    height: 180px;   
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
 
}

.slider_introduce_boynoteend
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.slider_introduce_boyimageicon
{
    width: 70x;
    height: 70px;
    top: 70%;
    left: 70%;  
}

.slider_introduce_boyendline
{
    margin-top: 5px;

}

.slider_introduce_girldetail
{
    width: 400px;
    height: 180px;   
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
 
}

.slider_introduce_girlitemlist
{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 50px;
    margin-left: 10px;
}   

.slider_introduce_girlimageicon
{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 70%;
    right: 80%;
    
}

.slider_introduce_boynoteend-bonus
{
    margin-left: 10px;
}
.slider_introduce_icon
{
    margin: 10px auto;
}

.slider_introduce_icon
{
    height: 100px;
    width: 100px;
}
.slider_invitation_letterheader
{
    font-size: 30px;
}
.slider_invitation_letternote
{
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 10px;
}
.slider_invitation_letterimage
{

    margin-top: 20px;
   
}
.slider_invitation_letterimageone
{
    width: 25%;
    height: 180px;
    background-size: cover;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 0.25);
}

.slider_invitation_letterimagetwo
{
    width: 43%;
    height: 180px; 
    background-size: cover;
    box-shadow: 0 10px 20px -12px rgb(0 0 0 / 0.25);
}
.slider_invitation_name
{
    font-size: 30px;
}

.slider_invitation_listiem
{
    float: left;
    background-size: auto;
    width: 50%;
    text-align: center;
}

.slider_invitation_listiemiconimg
{
    width: 50px;
    height: 50px;
}
.slider_invitation_item
{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.slider_invitation_date
{
    font-size: 1rem;
    margin-top: 10px;
}
.slider_invitation_location
{
    font-size: 0.7rem;
    margin-top: 10px;
}

.slider_invitation_location--one
{
    margin-bottom: 10px;
}
.slider_invitation_location--two
{
    margin-bottom: 40px;
}


.slider_invitation_locationes
{
    font-size: 0.7rem;
    margin-top: 10px;

}
.slider_invitation_map
{
    font-size: 1rem;
    width: 100px;
    height: 20px;
    margin-right: 10px;
    margin-left: 50px;

}

.slider_invitation_map--one
{
    margin-top: 0px;
}
.slider_invitation_maplabel
{
    font-size: 1rem;
    line-height: 1rem;
    margin:10px 10px;
    
}
.slider_invitation_image
{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    margin-top: 10px;
}
.slider_invitation_schedule

{
    height: 1000px;
    margin-top: 20px; 
}

.slider_album_img
{
    margin-top: 20px;
}
.slider_album
{
    margin-top: 20px;
}
.slider_album_text
{
    font-size: 30px;
}
.slider_album_image
{
    width: 50px;
    height: 50px;
}
.slider_album_slideone
{ 
    width: 50%;
    height: 200px; 
}
.footer
{
    margin-top: 30px;
}
.footer_img_headerimg
{
    width: 80px;
    height: 40px;
    margin-top: 10px;
}

.footer_img_text
{ 
    margin-top: 10px;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.foooter_img_heart  
{
    width: 30px ;
    height: 30px;
    margin-bottom: 10px;
}
.footer_img_thank
{
    width: 100%;
    height:calc(100vh - 300px);
    background-size: cover;
}
.slider_introduce_bg
{
    height: 420px;
}
}

/*PC*/

@media (max-width: 1024px) {
    
}

